@import url('ttps://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css');
@import url('/assets/css/upromo.css');
@import url('/assets/css/animate.min.css');
@import url('//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    scroll-behavior: smooth;
}

#FixedMenu {
    position: fixed;
    height: 100vh;
    z-index: 200;
}

.bg__kchat {
    position: fixed;
    width: 100%;
    z-index: 2000;
}

#customSpacer {
    width: 100%;
    height: 90px;
}

.khrimiIcon {
    width: 1.2em !important;
    height: 1.2em !important;
}

@font-face {
    font-family: "SFProText";
    src: url("/assets/fonts/sfpro2.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.sfpro {
    font-family: SFProText;
}



.custom_border {
    border: 2px solid black;
}

.khrimiIcon {
    width: 1.2em;
    height: 1.2em;
}


.btn__proceed,
.btn__proceed:hover {
    background-color: #007a85;
    border-radius: 15px;
    font-weight: 600;
    font-size: 0.85em;
    padding: 5px 25px;
}

.bg__kchat {
    background-color: #007a85;
}

body {
    background-color: #eee;
    font-family: 'Montserrat';
}

.round-border {
    border-radius: 15px;
}

.quick_check_href {
    color: #474747;
    margin-top: 7px;
    font-size: 1.125rem;
    font-family: SFProText;
}

.utterfit_choose {
    color: #333333;
    font-weight: 600;
    margin-bottom: 5px;
}

.within_text {
    color: #353535;
    font-weight: 500;
    font-size: 1.125rem;
    text-align: start;
    font-family: SFProText;
}


.utter_icon_holder {
    background: #f7f7f7;
    width: 70px;
    display: flex;
    margin: 0px auto;
    margin-top: 0px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 60px;
    border-radius: 15px;
}

.utter_icon_holder img {
    width: 25px !important;
    height: 25px !important;
}

.left_header_icon,
.right_header_icon {
    width: 25px !important;
    height: 25px !important;
}

.vl-hr-two {
    font-size: 1.4rem;
    padding: 0.925px 8px 0 0px;
    font-weight: 300;
    line-height: 2px;
}

.khrimiIcon {
    width: 1.1rem !important;
    height: 1.1rem !important;
    margin-right: 3px;
    top: 1.5px !important;
}

.utter_title {
    font-family: SFProtext;
    color: #6e6e6e;
    font-weight: 600;
}


.promotions__sidenav .nav-link.active,
.promotions__sidenav .show>.nav-link {
    color: #333;
    background-color: #bed7d9;
    border-left: 3px solid #007a85;
    border-radius: 0;
    padding: 1.1rem 1.5rem;
    font-family: 'Montserrat';
}

.promotions__sidenav {
    background-color: #bed7d9;
    height: 80vh;
    border-radius: 20px;
    overflow: hidden;
}


.nav-pills .nav-link {
    border-radius: .25rem;
}

.promotions__sidenav>li>a {
    color: #333;
    background-color: #bed7d9;
    border-left: 3px solid #bed7d9;
    font-weight: 500;
    padding: 1.1rem 1.5rem;
    font-size: 1.125em;
    border-bottom: 1px solid #fff;
}

.create__utter,
.targ__op,
.creative__section,
.custom__text {
    border-radius: 20px;
    padding: 20px;
}

.btn__newpromo,
.btn__save,
.btn__promomanager,
.btn__proceed,
.btn__promomanager:hover,
.btn__proceed:hover {
    background-image: linear-gradient(to right, #004c52, #007984);
    color: #ffffff;
    border-radius: 15px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.925em;
    padding: 8px 15px;
}

.scrollLinks {
    cursor: pointer;
}


.book_change_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.chng_category_btn {
    color: #ffffff;
    border-radius: 7px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 5px 10px;
    font-family: SFProText;
    background-image: linear-gradient(to right, #004c52, #007984);
}

.book_btn {
    color: #333;
    border-radius: 7px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 5px 10px;
    background: #d6e2e3;
    font-family: SFProText;
}