:root {
  --nav-bg: #007A85;
  --btn1: #258E97;
  --support: #00919E;
  --light: #ECF3F4;
  --white-bg: #EEEEEE;
  --off_light: #D4DFE0;
  --alter: #E7AC1A;
  --btn_g1: #00454C;
  --form: #489EA5;
  --side: #E2E8E9;
  --grey: #838383;
}


svg {
  fill: #000 !important;
}


* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  /* color: var(--light); */
  text-decoration: none;
}

#main .thought_content {
  color: var(--light) !important;
}


#main #support {
  color: var(--light) !important;
}

#main a {
  text-decoration: none;
  color: var(--light) !important;
}

.admg {
  margin: 5rem 3rem;
}



.text_grey {
  color: var(--grey);
}

.bg_grey {
  background: var(--grey);
}


a i {
  color: #000 !important;
}


body {
  background: var(--white-bg) !important;
}




.bg_side {
  background: var(--side) !important;
}




.text_light {
  color: var(--light) !important;
}

.text_alter {
  color: var(--alter) !important;
}


.btn_one {
  background: var(--btn1) !important;
}

.btn_two {
  background: linear-gradient(to right, #00454c, #007a85);
  font-family: SFProText;
  width: 100%;
  padding: 13px;
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 13px;
  margin-top: 10px;
}

.cancBut {
  transition: 0.4s !important;
  font-family: SFProText;
  width: 100%;
  padding: 13px;
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 13px;
  margin-top: 10px;
}

.cancBut:hover {
  background: linear-gradient(to right, #00454c, #007a85) !important;
  color: var(--light) !important;
}


.btn_three {
  background: var(--light) !important;
  color: var(--form) !important;
}



nav {
  background: var(--nav-bg) !important;
}


#banneri {
  background: url('../images/banneri.png') no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  padding: 7rem 0;
}

#banner .container {
  text-align: center;
}


#banner h1 {
  display: inline-block;
  width: 60%;
  font-size: 3.5rem;
}


#thoughts {
  background: #007A85 !important;
  position: relative;
  font-size: 140% !important;
  padding: 6rem 0 13rem 0;
  text-align: justify;
}


.compar {
  color: var(--light) !important;
}

#thoughts .right_img {
  position: absolute;
  top: 3rem;
  right: 0;
}


.thought_content {
  width: 40%;
}



#support {
  background: var(--support) !important;
  position: relative;
  padding: 6rem 0 14rem 0;
  text-align: justify;
  font-size: 140% !important;
}

#support .lefti_img {
  position: absolute;
  top: 3rem;
  left: 0;
}


#support>.lefti_img>img {
  width: 100% !important;
  height: auto !important;
}

.friends_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


/* supp */


/* response page css */
.body_main {
  margin-right: 25px;
}

.sidebar.hovered,
.sidebar.active {
  width: 100px;
}

.main.active {
  padding-left: 140px;
}

.for_small_sidebar {
  background: #007a85;
  color: #f3f3f3;
  margin-top: 25px;
  display: block;
  padding: 10px;
  padding-bottom: 0px;
}

.arrowDown.fa.fa-chevron-down {
  text-align: center;
  width: 100%;
  margin-right: -10px;
  color: #fff !important;
}

.cross_times {
  font-size: 1.4rem;
  position: relative;
  top: 1.5px;
  font-weight: 300;
  margin-right: -3px;
  line-height: 0px;
}

.cstmSuggestText {
  margin-left: 40px;
}

.bodyGrid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 1rem;
  position: relative;
}

.bodyGrid>.leftSR {
  margin-top: 25px;
  position: fixed;
  z-index: 20;
}


.bodyGrid .sr {
  margin-bottom: 1.5rem;
  padding: 16px 25px;
  border-radius: 10px;
  background: var(--off_light);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-family: SFProText;
}

.bodyGrid>.rightSR {
  margin-top: 25px;
  max-width: 750px;
  position: absolute;
  right: 0px;
}


.bodyGrid .left_top {
  display: flex;
  gap: 1rem;
}

.bodyGrid .left_bot {
  display: inline-block;
  padding: 20px;
  background: #fff;
  border-radius: 15px;
  margin-top: 1.5rem;
  min-width: 360px;
}


.utterreach_sipports_holder{
  display: inline-block;
  padding-bottom: 20px;
  background: #fff;
  border-radius: 15px;
  margin-top: 1.5rem;
  min-width: 360px;
  overflow: hidden;
}


.utterreach_supports {
  display: flex;
  align-items: center;
  grid-gap: 1rem;
  padding: 0.5rem 1rem;
}

.utterfit_btn_holder{
  padding: 0.5rem 1rem;
}

.utterreach_supports:hover{
  background: #d2dce6;
}


.utterreach_supports img {
  width: 55px!important;
  height: auto!important;
}

.left_top img {
  width: 45px;
  height: 45px;
}

.left_bot>.left_top {
  margin-bottom: 15px;
}


.bodyGrid .sret1 {
  display: flex;
}

.bodyGrid .sret1>img {
  width: 50px!important;
  height: 50px!important;
  margin-right: 1.5rem;
}


.bodyGrid .sret2 {
  margin-bottom: 0.5rem;
  background: #fff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.btn.three_dots {
  background: transparent;
  margin-top: 10px;
  height: 55px;
  padding: 0px;
}

.bodyGrid .sret2>p {
  margin-bottom: 0;
  margin-top: 1.2rem;
  margin-left: 1.2rem;
}

.bodyGrid .sret2>a {
  display: inline-block;
  text-decoration: underline;
  margin-bottom: 1.2rem;
  margin-left: 1.2rem;
}






.bodyGrid .sret3 {
  width: 100%;
  display: grid;
  grid-template-columns: 9fr 9fr 1fr;
  gap: 1rem;
}

/* response page css */


/* site.html inner */
/* .main__loginbg {
  background-image: url("../images/login-bg.png");
  min-height: 104vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
} */

body {
  /* background-color: #eee; */
  font-family: SFProText;
}

.main {
  top: 40px;
}

.w__login {
  width: 100%;
}

.bg__kchat {
  background-color: #489ea5;
  padding: 0.8rem;
}

footer {
  background-color: #007a85;
  color: #cfe6e8;
}

#horz-list ul li a {
  color: #000000;
}

#horz-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

#horz-list ul li {
  display: inline;
}

#horz-list ul li a {
  text-decoration: none;
  padding: 0.2em 1.1em;
  border-right: 1.5px solid #cfe6e8;
  margin: 0 0 0 -6px;
  color: #cfe6e8 !important;
}

#horz-list ul li:last-child a {
  border: none;
}

.cstmBorder {
  border-radius: 15px 15px 0px 0px;
}

input:focus::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: transparent !important;
}

input:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff !important;
}

input:focus:-ms-input-placeholder {
  /* IE 10+ */
  color: transparent !important;
}

input:focus:-moz-placeholder {
  /* Firefox 18- */
  color: transparent !important;
}


#crossIt,
#crossItFourHand {
  background-color: #787979;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  display: grid;
  position: relative;
  left: 95%;
  top: -10px;
  z-index: 20;
  font-size: 25px;
}

#crossIt:hover {
  background-color: #343a40;
}

#crossItFourHand:hover {
  background-color: #343a40;
}

.pieChart {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: conic-gradient(#007a85 0%, #ffffff 0%);
  float: right;
  margin-top: -35px;
  position: relative;
  z-index: 1;
  margin-right: 4px;
  border: 1px solid #007a85;
}

.join {
  background: #007a85;
  color: white;
  padding: 5px 15px;
  right: 38px;
  position: relative;
  border-radius: 50px;
  top: 1px;
}

.add__more {
  position: absolute;
  right: 25px;
  margin-bottom: 33px;
}

#tinymce {
  font-size: 16px;
}

.closeCrossUtter {
  text-align: center;
  background: black;
  color: white;
  border-radius: 50%;
  padding: 3px;
  width: 35px;
  height: 35px;
  float: right;
  margin-top: 20px;
}

.modal__content {
  border-radius: 25px;
}

.btn_btn__proceed {
  background-color: #cacaca;
  color: #f8f8f8;
  border-radius: 12px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 8px 16px;
  width: 210px;
  outline: none;
  border: none;
  margin-bottom: 10px;
}

#popUPCreateModal {
  background: #000000b3;
}

.btn_btn__proceed:hover {
  color: #f8f8f8;
}


#crossCreate {
  background-color: #787979;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  display: grid;
  position: relative;
  left: 93%;
  top: 0px;
  z-index: 20;
  font-size: 25px;
}

#crossCreate:hover {
  background-color: #343a40;
}

/* site.html inner */




.will_support {
  background: #fff;
  padding: 20px;
  margin-bottom: 0.5rem;
  border-radius: 15px;
  position: relative;
}

.input_results {
  display: flex;
  grid-gap: 10px;
  margin: 10px 35px;
}

.left_input,
.right_output {
  display: flex;
  grid-gap: 5px;
  height: 30px;
  align-items: center;
}

.coin_icon {
  width: 25px!important;
  height: 25px!important;
}

.right_output .coin_icon {
  width: auto;
  height: 18px;
}

.number_input {
  background: #dddfdf;
  padding: 0px 5px;
  font-size: 28px;
  font-weight: 500;
  border-radius: 5px;
  margin-left: -2px;
  font-family: SFProText;
  line-height: 28px;
}

.middle_line {
  width: 100%;
  display: flex;
  align-items: center;
}

.the_line_through {
  width: 100%;
  background: #333;
  height: 1.5px;
}

.box_top_item,
.box_bottom_item {
  display: flex;
  grid-gap: 5px;
  align-items: center;
  justify-content: center;
  background: #dddfdf;
  width: 130px;
  margin: 0px auto;
  border-radius: 7px;
}

.box_middle_item {
  max-width: 260px;
  height: 90px;
  border: 2px solid #333;
  border-radius: 15px;
  margin: 0px auto;
  background: #fff;
  position: relative;
  z-index: 5;
}

.header {
  z-index: 100;
}

.left_box {
  display: flex;
  grid-gap: 4px;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 0px;
  justify-content: center;
  align-items: center;
}

.left_box .coin_icon {
  width: 1.2rem!important;
  height: auto!important;
}

.right_box {
  font-size: 1.35rem;
  border-left: 2px solid #333;
  padding-left: 5px;
}

.box_bottom_item .left_box {
  width: 71px;
}

.box_top_item {
  margin-bottom: -1.1rem;
  position: relative;
  z-index: 10;
}


.box_bottom_item {
  margin-top: -1.1rem;
  position: relative;
  z-index: 10;
}


.input_results {
  position: absolute;
  width: -webkit-fill-available;
  top: 3.5rem;
  width: -moz-available;
}




@media screen and (max-width:1024px) {
  * {
    width: 100% !important;
  }

  .right_img {
    display: none;
  }

  .left_img {
    display: none;
  }

  .sim {
    display: none;
  }

  nav .container {
    display: inline-flex;
  }
}