.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
    flex-wrap: unset !important;
}

.main-tags-inputs .d-flex {
    flex-wrap: wrap !important;
}

.nav-item:hover a {
    color: #007a85 !important;
    border-left: 0px solid #007a85 !important;
}

.text-start {
    text-align: left !important;
}

.text-end {
    text-align: right !important;
}

.banner-image,
.border-radius-25 {
    border-radius: 25px;
    /* overflow: hidden; */
}

.main {
    padding-left: 100px;
    top: 25px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #007a85;
}

.owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}

.owl-dots {
    margin-bottom: -45px !important;
}

.sidebar.active,
.sidebar:hover {
    width: 100px !important;
}

.main,
.main.active {
    padding-left: 100px !important;
}

.nav-item:hover a {
    color: #353535 !important;
    border-left: 0px solid #007a85 !important;
}


input:focus::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: transparent !important;
}

input:focus::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffff !important;
}

input:focus:-ms-input-placeholder {
    /* IE 10+ */
    color: transparent !important;
}

input:focus:-moz-placeholder {
    /* Firefox 18- */
    color: transparent !important;
}


#crossIt,
#crossItFourHand {
    background-color: #787979;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: grid;
    position: relative;
    left: 95%;
    top: -10px;
    z-index: 20;
    font-size: 25px;
}

#crossIt:hover {
    background-color: #343a40;
}

#crossItFourHand:hover {
    background-color: #343a40;
}

.pieChart {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: conic-gradient(#007a85 0%, #ffffff 0%);
    float: right;
    margin-top: -35px;
    position: relative;
    z-index: 1;
    margin-right: 4px;
    border: 1px solid #007a85;
}

.join {
    background: #007a85;
    color: white;
    padding: 5px 15px;
    right: 38px;
    position: relative;
    border-radius: 50px;
    top: 1px;
}

.add__more {
    position: absolute;
    right: 25px;
    margin-bottom: 33px;
}

#tinymce {
    font-size: 16px;
}




.closeCrossUtter {
    text-align: center;
    background: black;
    color: white;
    border-radius: 50%;
    padding: 3px;
    width: 35px;
    height: 35px;
    float: right;
    margin-top: 20px;
}

.modal__content {
    border-radius: 25px;
}


.btn_btn__proceed {
    background-color: #cacaca;
    color: #f8f8f8;
    border-radius: 12px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8px 16px;
    width: 210px;
    outline: none;
    border: none;
    margin-bottom: 10px;
}

#popUPCreateModal {
    background: #000000b3;
}

.btn_btn__proceed:hover {
    color: #f8f8f8;
}


#crossCreate {
    background-color: #787979;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: grid;
    position: relative;
    left: 93%;
    top: 0px;
    z-index: 20;
    font-size: 25px;
}

#crossCreate:hover {
    background-color: #343a40;
}

.dropdown-menu-form {
    padding: 5px 10px 0;
    max-height: 100px;
    overflow-y: scroll;
}

.tagify__input {
    margin-top: 16px;
}

#favOthersInput,
.favParticularOthersInput {
    outline: none;
    width: 150px;
    padding: 5px 10px;
    border: none;
    background: transparent;
    text-transform: unset;
    border-bottom: 2px solid #cfcfcf;
}

#favOthersInput::placeholder,
.favParticularOthersInput::placeholder {
    color: black !important;
}

.crossSPan:hover {
    color: red;
    font-weight: bold;
}

.hobbieDivs {
    text-transform: unset;
}

.crossSPan:hover .hobbieDivs {
    background-color: #e0cdcd;
}

.hobbieDivs:hover {
    background-color: #d3e2e2;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
    flex-wrap: wrap;
}


.edit-icon {
    font-size: 1.2rem;
    text-align: right;
}

.hobbies .intro-title {
    text-transform: capitalize;
}

.active .navbar-collapse .test-profilee .for_small_sidebar,
.hovered .navbar-collapse .test-profilee .for_small_sidebar {
    display: block;
}

.active .navbar-collapse .test-profilee .customSideFooter,
.hovered .navbar-collapse .test-profilee .customSideFooter {
    display: none !important;
}


.active .navbar-collapse .test-profilee .main-user-profile-nav .load-more .arrowDown.fa.fa-chevron-down,
.hovered .navbar-collapse .test-profilee .main-user-profile-nav .load-more .arrowDown.fa.fa-chevron-down {
    text-align: center;
    width: 100%;
    margin-right: -10px;
}

.hovered .navbar-collapse .test-profilee .navbar-nav .nav-item .d-flex .userIvonImg,
.active .navbar-collapse .test-profilee .navbar-nav .nav-item .d-flex .userIvonImg {
    margin-right: 20px;
}

.customTextColor {
    display: none;
}

.prev_next_btn {
    display: flex;
    position: relative;
    margin-top: -0.5rem;
}

.owl-stage-outer {
    margin-bottom: 2.5rem;
}

.right_sided {
    float: right;
}

.prev_btn {
    width: 50px;
    height: 50px;
    background: #cecece;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.next_btn {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    display: flex;
    background: #cecece;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    right: 0px;
    position: absolute;
    float: right;
    cursor: pointer;
    z-index: 1;
}


.activated_nav,
.prev_btn:hover,
.next_btn:hover {
    background: #5daab2;
    box-shadow: 0px 0px 15px 0px #aaa;
}


.textTabResults {
    margin-top: unset;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
}

.left_col {
    width: 60%;
}

.right_col {
    width: 30%;
}

.restablines {
    background: #b5d2d5;
    width: 28%;
    padding: 8px;
    font-weight: 600;
    color: #2c86f9;
    font-size: 0.8rem;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    margin-bottom: unset;
}

.more_space {
    width: unset;
    padding: 8px 20px;
}